<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>M.I.L.F</title>
</head>
<body>
    <header>
        <h1>M.I.L.F</h1>
        <h2>Managment of Inventory and Legacy Forge</h2>
    </header>
    <nav>
        <ul>
            <li><a href="/items">Craft item</a></li>
            <li><a href="/craftsman">Create craftsman</a></li>
        </ul>
    </nav>
    <div class="invBox">
        <% locals.inventory.map(inv => { %>
            <div class="inventory">
                <img src="<%= icons[inv.type] %>" alt="" class="typeImg">
                <div class="data">
                    <p class="itemName"><%= inv.item %></p>
                    <div class="craft">
                        <img src="./media/icons/craftsman.svg" alt="">
                        <p><%= inv.name === null ? 'Unknown Warrior' : inv.name %></p>
                     </div>
                     <p class="type"><%= inv.type %></p>
                </div>
                <div class="btns">
                    <a href="/<%= inv.id %>/update">Update</a> 
                    <form action="/<%= inv.id %>/delete-item" method="post"><input type="submit" value="delete"></form>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>