<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>M.I.L.F</title>
</head>
<body>
    <h1>M.I.L.F</h1>
    <h2>Managment of Inventory and Legacy Forge</h2>
    <nav>
        <ul>
            <li><a href="/items">Craft item</a></li>
            <li><a href="/craftsman">Create craftsman</a></li>
        </ul>
    </nav>
    <ul>
        <% locals.inventory.map(inv => { %>
            <li class="inventory">name: <%= inv.item %> craftsman: <%= inv.name === null ? 'Unknown Warrior' : inv.name %> type: <%= inv.type %> <a href="/<%= inv.id %>/update">Update</a> <form action="/<%= inv.id %>/delete-item" method="post"><input type="submit" value="delete"></form></li>
        <% }) %>
    </ul>

</body>
</html>