<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M.I.L.F</title>
</head>
<body>
    <h1>Craft an item</h1>
    <%- include("partials/error.ejs") %>
    <form action="/items" method="post">
        <label>
            Item Name
            <input type="text" name="item" id="item" required>
        </label>
        <label>
            Craftsman
            <select name="craftsman" id="craftsman" required>
                <% locals.craftsmans.map(craftsman => { %>
                    <option value=<%= craftsman.id %> ><%= craftsman.name %></option>
               <% }) %>
            </select>
        </label>
        <label>
            Type
            <select name="type" id="type" required>
                <% locals.types.map(type => { %>
                    <option value=<%= type.id %> ><%= type.type %></option>
               <% }) %>
            </select>
        </label>
        <input type="submit">
    </form>
</body>
</html>